/* -------------------------------- 

Navigation,Loading Bar,Main,

-------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  color: #83b0b9;
  background-color: #343943;
}

a {
  color: #d35657;
  text-decoration: none;
}


.side-navigation {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100vh;
  width: 74px;
  overflow: hidden;
}
.side-navigation::before {
  /* background color of the side navigation */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: -webkit-calc(100% - 4px);
  width: calc(100% - 4px);
  background-color: #131519;
}
.side-navigation ul {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.side-navigation li {
  width: -webkit-calc(100% - 4px);
  width: calc(100% - 4px);
}
.side-navigation a {
  display: block;
  position: relative;
  padding: 4em 0 1.5em;
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
.side-navigation a svg {
  /* this is the icon */
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 1.3em;
}
.side-navigation a svg * {
  -webkit-transition: stroke 0.2s;
  -moz-transition: stroke 0.2s;
  transition: stroke 0.2s;
}
.side-navigation a::after {
  /* 4px line to the right of the item - visible on hover */
  content: '';
  position: absolute;
  top: 0;
  right: -4px;
  height: 100%;
  width: 4px;
  background-color: #83b0b9;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
  pointer-events: none;
}
.no-touch .side-navigation a:hover {
  background-color: #08090b;
  color: #ffffff;
}
.no-touch .side-navigation a:hover::after {
  opacity: 1;
}
.side-navigation a.selected, .no-touch .side-navigation a.selected:hover {
  background-color: #ffffff;
  color: #131519;
}
.side-navigation a.selected > svg *, .no-touch .side-navigation a.selected:hover > svg * {
  stroke: #83b0b9;
}
.side-navigation li:nth-of-type(2) .selected > svg *,
.side-navigation li:nth-of-type(2) .selected:hover > svg * {
  stroke: #d35657;
}
.side-navigation li:nth-of-type(3) .selected > svg *,
.side-navigation li:nth-of-type(3) .selected:hover > svg * {
  stroke: #343943;
}
.side-navigation li:nth-of-type(4) .selected > svg *,
.side-navigation li:nth-of-type(4) .selected:hover > svg * {
  stroke: #e4b162;
}
.side-navigation li:nth-of-type(2) a::after {
  background-color: #d35657;
}
.side-navigation li:nth-of-type(3) a::after {
  background-color: #343943;
}
.side-navigation li:nth-of-type(4) a::after {
  background-color: #e4b162;
}
@media only screen and (min-width: 480px) {
  .side-navigation {
    width: 94px;
  }
  .side-navigation a {
    padding: 4em 0 1.5em;
    font-size: 1.3rem;
  }
  .side-navigation a svg {
    top: 1.6em;
  }
}


.main {
  height: 100vh;
  overflow: hidden;
}





.content {
  padding: 2em 0;
  background-color: #ebebeb;
}
.content p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 2em;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #999999;
}
@media only screen and (min-width: 768px) {
  .content {
    padding: 4em 0;
  }
  .content p {
    font-size: 1.6rem;
  }
}


#loading-bar {
  position: fixed;
  z-index: 2;
  left: 70px;
  width: 4px;
  visibility: hidden;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
#loading-bar.index {
  background-color: #83b0b9;
}
#loading-bar.services {
  background-color: #d35657;
}
#loading-bar.projects {
  background-color: #343943;
}
#loading-bar.contact {
  background-color: #e4b162;
}
#loading-bar.loading {
  visibility: visible;
}
@media only screen and (min-width: 480px) {
  #loading-bar {
    left: 90px;
  }
}
